@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  src: url(font/MJNgai.ttf);
  font-family: hongkong;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{display:block;}
a{text-decoration: none;}
ul,li{list-style: none;}

#section_contact {
  position: relative;
  padding:50px 250px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* Start Fixed Header Area */

/*헤더*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 70px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  font-family: 'Poppins', sans-serif;
}
/*//헤더*/


/*토글*/
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-10px);
}

.menu-btn_burger::after {
  transform: translateY(10px);
}

/*토글 반응*/
.menu-btn.open .menu-btn_burger {
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg);
}
/*//토글*/

/*토글 네온반응 추가*/
.menu-btn:hover {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
}

.menu-btn:hover .menu-btn_burger {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
  box-shadow: inset 0 0 0.5em 0 #fff, 0 0 0.8em 0 #fff;
}

.menu-btn:hover .menu-btn_burger::before {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
  box-shadow: inset 0 0 0.5em 0 #fff, 0 0 0.8em 0 #fff;
}
.menu-btn:hover .menu-btn_burger::after {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
  box-shadow: inset 0 0 0.5em 0 #fff, 0 0 0.8em 0 #fff;
}

.menu-btn.open:hover .menu-btn_burger {
  box-shadow: none;
}
/*//토글 네온반응 추가*/

/*유리느낌*/
.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 1;
  transition: 0.5s;
  transition-delay: 1s;

  border-radius: 0 0 100px 0;
}
/*//유리느낌*/


/*섹션반응 - 유리느낌동작*/
section.active .glass {
  height: 100%;
  background: rgb(0, 0, 0, 0.7);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
  transition-delay: 0s;
  border-radius: 0;
}
/*//섹션반응 - 유리느낌동작*/





/*네비게이션*/
section .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

section .navigation li {
  position: relative;
  list-style: none;
  text-align: center;
  width: 300px;
  height: 80px;
  margin: 40px;
}

section .navigation li p{
  font-family: 'hongkong';
}

section .navigation li p span{
  font-family: 'Poppins', sans-serif;
}

section .navigation li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border:5px solid #fff;
  color: #fff;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  font-size: 25px;
  padding-top:40px;
  padding-bottom:40px;
  line-height: 30px;
}

section .navigation li:hover a {
  color:#f00;
  letter-spacing: 3px;
  border:5px solid yellow;
  box-shadow: inset 0 0 0.5em 0 yellow, 0 0 10px 0 yellow;
}

section .navigation li {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateX(200px);
  transition-delay: calc(0.2s * var(--i));
}

section.active .navigation li {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}
/*네비게이션 반응추가*/


/*네온텍스트*/
.neon-text{
  position:absolute;
  top:18%;
  right:0%;
  transform:translate(-46%, -50%);
  animation:text 6s 1;
  }
  
  #neonthis>span{
  font-size:90px;
  color:#fff;
  font-family: 'Ma Shan Zheng', cursive;
  line-height: 90%;
  }
  
  #neonthis .eng{
  font-family: 'Poppins', sans-serif;
  font-size:80px;
  font-weight: 600;
  }

/* End Fixed Header Area */

  
/*CONTACT*/
.contact{width: 100%; display:flex; justify-content:space-around; align-items: center; color:#000; font-family: 'Poppins', sans-serif; font-weight: medium; /*background:yellow;*/}
.contact .left{width:50%;}
.contact .right{width: 50%;}


.message{width:95%; padding:40px; background:#000; border:5px solid #f00; }
.message .inputBox{position:relative; width:100%; margin-top:15px;}
.message .inputBox input,.message .inputBox textarea{
  width:100%;
  padding: 10px 0;
  font-size:16px;
  margin:10px 0;
  border:none;
  background:#000;
  border-bottom: 2px solid #fff;
  outline: none;
  resize:none;
  color:#fff;
}

.message .inputBox span{
  position:absolute;
  left:0;
  padding: 5px 0;
 font-size:20px;
 margin:10px 0;
 color:#000;
 pointer-events: none;
 transition:0.5s;
 color:#fff;
}

.message .inputBox input:focus ~ span,
.message .inputBox input:valid ~ span,
.message .inputBox textarea:focus ~ span,
.message .inputBox textarea:valid ~ span
{
    color: #f00;
    font-size:12px;
    transform: translateY(-20px);
}

.message .inputBox input[type="submit"]{
  width:200px;
  height:50px;
  background: #f00;
  color:#fff;
  border:none;
  cursor:pointer;
  padding:10px;
  font-size:18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.if{color:#f00; position:relative; font-family: 'Poppins', sans-serif;}
.film-gif {width: 100%; height: 47vh; background: url(../img/contact.gif) no-repeat 100% 70%; background-size: cover; -webkit-animation: animateGIF 4s cubic-bezier(0,.58,1,.58);}


/*반응형 시작*/
@media(max-width: 1600px){
  .neon-text{right:0%;}
    #neonthis>span{font-size:60px;}
    #neonthis .eng{font-size:70px;}
    .film-gif{height:60vh;}
  }


@media(max-width: 1300px){
.neon-text{right:0%;}
  #neonthis>span{font-size:30px;}
  #neonthis .eng{font-size:40px;}

  #section_contact{padding:50px;}

.contact{flex-direction: column; margin-top:300px;}

.message{width:100%;}
.film-gif{width:100%;}
}


@media(max-width: 900px){
  #neonthis>span{font-size:20px;}
  #neonthis .eng{font-size:30px;}


  .contact .left{width:100%;}
  .contact .right{width:100%;}
  .if{font-size:15px;}
  .film-gif{height:40vh;}
}

@media(max-width:400px){
  header {padding: 20px 30px;}

  section .sns {

    width:100%;
    bottom: 20px;
    right:0px;
    display: flex;
    justify-content: center;
    
  }
  
  section .navigation li {
    position: relative;
    list-style: none;
    text-align: center;
    width: 250px;
    height: 80px;
    margin: 15px;
  }
  
  section .navigation li a {
    
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
  }
  
  ul.tabs li {
    width: 20%;
    height: 40px;
    
}

  }